<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <h2>Who are you going to WOW?</h2>
  <div class="field">
    <%= f.label 'Name' %><br />
    <%= f.text_field :r_name %>
  </div>
  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.text_field :r_email %>
  </div>

  <h2>WOW Details</h2>
  <div class="field">
    <%= f.label 'Title' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label 'What should you WOW! be about?' %><br />
    <%= f.text_field :tag, :value => 'berlin, geekette' %>
  </div>
  <div class="hidden">
    <div class="field">
      <%= f.label :image %><br />
      <%= f.text_field :image, :value => 'http://www.eyeem.com/thumb/sq/500/67be5509b0aa0322913775cf99ea6604f27a437c-1347052741' %>
    </div>
    <div class="field">
      <%= f.label :sound %><br />
      <%= f.text_field :sound %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Next', :class => 'bigButton clickable' %>
  </div>
<% end %>
