  <div class="box">
<div class="addBox clear">
  <%= link_to 'Create WOW!', new_card_path, :class => "bigButton clickable" %>
</div>

<!-- <a id="toggleCardHistory" href="#">Toggle Card History</a> -->

<div id="cardHistory">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Tag</th>
        <th class="narrow"></th>
        <th class="narrow"></th>
        <th class="narrow"></th>
      </tr>
    </thead>

    <tbody>
      <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.tag %></td>
        <td><%= link_to 'Show', card, :class => "smallButton clickable" %></td>
        <td><%= link_to 'Edit', edit_card_path(card),:class => "smallButton clickable" %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, :class => "smallButton clickable" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
</div>
