<h1 class="demo-headline"><%= @card.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @card.tag %>
</p>

<p>
  <strong>Message:</strong>
  <%= @card.message %>
</p>

<p>
  <strong>Image:</strong>
  <%= @card.image %>
</p>

<p>
  <strong>Sound:</strong>
  <%= @card.sound.html_safe %>
</p>

<%= link_to 'Get tracks', card_get_tracks_path(@card), :class => "button-primary" %>
<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
