<div class="box">
<h1 class="demo-headline">Do Stuff<%#= @card.name %></h1>
<p id="notice"><%= notice %></p>

<h2>Who do you want to WOW!?</h2>
<p>
  <strong>Title:</strong>
  <%#= @card.recepientName %>
  <%#= @card.recepientMail %>
</p>

<h2>Design your WOW!</h2>
<p>
  <strong>Title:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @card.tag %>
</p>

<p>
  <strong>Message:</strong>
  <%= @card.message %>
</p>

<hr>
<p>
  <strong>Image:</strong>
  <%= image_tag(@card.image) if @card.image.present? %>
</p>
<%= link_to 'Get me a different image', card_get_images_path(@card), :class => "btn button-primary" %>
<hr>

<p>
  <strong>Sound:</strong>
  <%= @card.sound.html_safe %>
</p>

<%= link_to 'Get me a different track', card_get_tracks_path(@card), :class => "btn button-primary" %>

<hr>

<%= link_to 'Send this WOW!', succes_path, :class => "bigButton clickable" %>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
</div>