<div class="box">

<div class="block">
  <h2>You are WOWing</h2>
  <p>
    <%= @card.r_name %>
    <%= @card.r_email %>
  </p>
</div>

<div class="block">
  <h2><%= @card.name %></h2>
  
  <p>
    <%= @card.message %>
  </p>

  <p>
    <strong>Based on these tags:</strong>
    <%= @card.tag %>
  </p>

  <div><%= image_tag(@card.image , :class => 'smallImage') if @card.image.present? %></div>
  <%= link_to 'Get me a different image', card_get_images_path(@card), :class => "smallButton clickable" %>

  <div><%= @card.sound.html_safe %></div>
  <%= link_to 'Get me a different track', card_get_tracks_path(@card), :class => "smallButton clickable" %>
</div>

<%= link_to 'Send this WOW!', succes_path, :class => "bigButton clickable" %>

</div>
