<div class="box">
<h1 class="demo-headline">Do Stuff<%#= @card.name %></h1>
<p id="notice"><%= notice %></p>

<h2>Who do you want to WOW!?</h2>
<p>
  <strong>Title:</strong>
  <%= @card.r_name %>
  <%= @card.r_email %>
</p>

<h2>Design your WOW!</h2>
<p>
  <strong>Title:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @card.tag %>
</p>

<p>
  <strong>Message:</strong>
  <%= @card.message %>
</p>

<hr>
<div><%= image_tag(@card.image , :class => 'smallImage') if @card.image.present? %></div>
<%= link_to 'Get me a different image', card_get_images_path(@card), :class => "smallButton clickable" %>

<div><%= @card.sound.html_safe %></div>
<%= link_to 'Get me a different track', card_get_tracks_path(@card), :class => "smallButton clickable" %>

<hr>

<%= link_to 'Send this WOW!', succes_path, :class => "bigButton clickable" %>

</div>
