<!DOCTYPE html>
<html>
<head>
	<title>Sndcrd</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<%= link_to '', cards_path, :id => 'logo' %>
	</div>
	<div class="box">
		<%= yield %>
	</div>
</body>
</html>
